.table{
    width: 100%;
    border-spacing: 0;
    /* height: calc(100vh - 284px); */
}
table tr{
    height: 48px;
}
.table th{
    border-top: 1px solid #ccc;
}
.table tbody tr:hover{
    background: #F5F5F5!important;
}

.table tbody tr:hover td {
    background: #F5F5F5!important;
}
.table thead{
    position: sticky;
    top: 0;
    z-index: 10;
}
.table tr td,
th{
    border-bottom: 1px solid #ccc;
    padding: 0 16px;
}
.table-header tr{
    background-color: #E7F5EC;
}
.table tbody tr:last-child {
    border-bottom: unset;
}
#style::-webkit-scrollbar{
    width: 6px;
    height: 6px;
    background: #f1f1f1;
}
#style::-webkit-scrollbar-thumb{
    background: #b8bcc3;
}
#style::-webkit-scrollbar-track{
    background: #f1f1f1;
}
#style-1::-webkit-scrollbar{
    width: 6px;
    height: 6px;
    background: #f1f1f1;
}
#style-1::-webkit-scrollbar-thumb{
    background: #f1f1f1;
}
#style1::-webkit-scrollbar-track{
    background: #f1f1f1;
}
.sticky_header_left {
    position: sticky;
    left: 0px;
    background-color: #E7F5EC;
}
.sticky_header_left_1 {
    left: 48px;
    position: sticky;
    background-color: #E7F5EC;
}
.sticky_header_left_2 {
    left: 210px;
    position: sticky;
    background-color: #E7F5EC;
}
.sticky_body_left {
    position: sticky;
    background-color: #fff;
    left: 0px;
}
.sticky_body_left_1 {
    left: 48px;
    position: sticky;
    background-color: #fff;
    /* z-index: 3; */
}
.sticky_body_left_2{
    left: 210px;
    position: sticky;
    background-color: #fff;
}
.sticky_header_right {
    position: sticky;
    right: 0px;
    background-color: #E7F5EC;
}
.sticky_body_right {
    position: sticky;
    right: 0px;
    background-color: #fff;
}
.edit-option{
    display: flex;
    justify-content: center;
    align-items: center;

}
.text-edit{
    cursor: pointer;
    color: #0075c0;
    margin-right: 10px;
    font-weight: 700;
}

/* Thành phần sưa */
.dlg-option{
    z-index: 5;
    background-color: #fff;
    position: absolute;
    border: 1px solid #babec5;
}
.option{
    cursor: pointer;
    padding: 5px 10px;
}.option:hover{
    color: #08bf1e;
    background-color: #e8e9ec;
    transition: 300ms;
}